{% load static %}
<html ng-app="formlyApp" >
<head>
    <title>Medición de Involucramiento y Liderazgo</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'resources/css/styles.css' %}">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


</head>
<body ng-controller="MainController" class="ng-scope">
  <main id="user_id" class="container col-md-8 col-md-offset-4">
    Nombre del usuario <br>
    <input ng-model="user_id" type="text">
  </main>
  {% verbatim %}
  <main id="main0" class="container col-md-8 col-md-offset-4" style="display:none">
    <section id="top-bar0">
      <div id="clone-container0">
        <div id="scroll-box0">
          <div id="tile-container0">
            <div class="tile-wrapper" ng-repeat="piece in steps_1">
              <div class="tile0">
                <img src="{{piece.url}}" alt="{{piece.id}}" width="200" height="300">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="content"></section>
    <section id="drop-panel0">
      <header>Arrastre las obras según su interés, siendo la primera la que más le gusta, y la última la que menos le agrada</header>
    </section>
  </main>
  <main id="main1" class="container col-md-8 col-md-offset-4" style="display:none">
    <section id="top-bar1">
      <div id="clone-container1">
        <div id="scroll-box1">
          <div id="tile-container1">
            <div class="tile-wrapper" ng-repeat="piece in steps_2">
              <div class="tile1">
                <img src="{{piece.url}}" alt="{{piece.id}}" width="200" height="300">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="content"></section>
    <section id="drop-panel1">
      <header>Arrastre las obras según su interés, siendo la primera la que más le gusta, y la última la que menos le agrada</header>
    </section>
  </main>
  <main id="main2" class="container col-md-8 col-md-offset-4" style="display:none">
    <section id="top-bar2">
      <div id="clone-container2">
        <div id="scroll-box2">
          <div id="tile-container2">
            <div class="tile-wrapper" ng-repeat="piece in steps_3">
              <div class="tile2">
                <img src="{{piece.url}}" alt="{{piece.id}}" width="200" height="300">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="content"></section>
    <section id="drop-panel2">
      <header>Arrastre las obras según su interés, siendo la primera la que más le gusta, y la última la que menos le agrada</header>
    </section>
  </main>
  <main id="main3" class="container col-md-8 col-md-offset-4" style="display:none">
    <section id="top-bar3">
      <div id="clone-container3">
        <div id="scroll-box3">
          <div id="tile-container3">
            <div class="tile-wrapper" ng-repeat="piece in steps_4">
              <div class="tile3">
                <img src="{{piece.url}}" alt="{{piece.id}}" width="200" height="300">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="content"></section>
    <section id="drop-panel3">
      <header>Arrastre las obras según su interés, siendo la primera la que más le gusta, y la última la que menos le agrada</header>
    </section>
  </main>
  <main id="main4" class="container col-md-8 col-md-offset-4" style="display:none">
    <section id="top-bar4">
      <div id="clone-container4">
        <div id="scroll-box4">
          <div id="tile-container4">
            <div class="tile-wrapper" ng-repeat="piece in steps_5">
              <div class="tile4">
                <img src="{{piece.url}}" alt="{{piece.id}}" width="200" height="300">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="content"></section>
    <section id="drop-panel4">
      <header>Arrastre las obras según su interés, siendo la primera la que más le gusta, y la última la que menos le agrada</header>
    </section>
  </main>
  <main id="main5" class="container col-md-8 col-md-offset-4" style="display:none">
    <section id="top-bar0">
      <div id="clone-container0">
        <div id="scroll-box0">
          <div id="tile-container0">
            <div class="tile-wrapper" ng-repeat="piece in recommendations">
              <div class="tile0">
                <img src="{{piece}}" width="200" height="300">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <button class="btn float-right btn-primary" style="margin:20px" ng-click="changeSurvey()">Siguiente</button>
  {% endverbatim %}
</body>

    <!-- Application Dependencies -->
    <script src="{% static 'vendors/jquery/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'vendors/api-check/api-check.js' %}"></script>
    <script src="{% static 'vendors/angular/angular.js' %}"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/utils/Draggable.min.js'></script>



    <!-- Application Scripts -->
    <script src="{% static 'resources/js/variables.js' %}"></script>
    <script src="{% static 'resources/js/app.js' %}"></script>
    <script src="{% static 'resources/js/MainController.js' %}"></script>
    <script>

    </script>


    <script>
    $( document ).ready(function() {
      $(".radio-group").addClass("row");

    });
    </script>

</html>
